name: Build

on:
  push:
    branches: [ main]
  pull_request:
concurrency:
  group: build-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    strategy:
      matrix:
        java: [17]

    runs-on: ubuntu-latest
    timeout-minutes: 60

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Graphviz
        uses: ts-graphviz/setup-graphviz@v2

      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version:  ${{ matrix.java }}

      - name: Execute test binary and cli
        run: |
          ./gradlew test
